[user]
	name = patrick larocque
	email = patrick.lar1214@gmail.com
[init]
  defaultBranch = main
[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[alias]
    ls = !eza --git --group-directories-first --icons
    ll = !eza --git --group-directories-first --icons -l
    la = !eza --git --group-directories-first --icons -la
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
